:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.flex-row-bd {
  position: relative;
  width: 1048px;
  height: 69px;
  margin: 48px 0 0 114px;
  z-index: 2;
}
.rectangle {
  position: absolute;
  width: 367px;
  height: 69px;
  top: 0;
  left: 0;
  cursor: pointer;
  background: #e16a38;
  border: none;
}
.services {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 292px;
  height: 46px;
  top: 17px;
  left: 22px;
  color: #0b0b0b;
  font-family: Inter, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 46px;
  text-align: center;
  white-space: nowrap;
  z-index: 1;
}
.rectangle-1 {
  position: absolute;
  width: 178px;
  height: 58px;
  top: 11px;
  left: 870px;
  cursor: pointer;
  background: #d46b30;
  border: none;
  z-index: 2;
}
.home {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 133px;
  height: 38px;
  top: 10px;
  left: 23px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  text-align: center;
  white-space: nowrap;
  z-index: 3;
}
.flex-row-cee {
  position: relative;
  width: 1162px;
  height: 676px;
  margin: 143px 0 0 114px;
  z-index: 12;
}
.rectangle-2 {
  position: absolute;
  width: 441px;
  height: 676px;
  top: 0;
  left: 0;
  font-size: 0px;
  background: url(./assets/images/1286383e-9d32-4f0a-9e2d-e57ae2a9b1f3.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.specializations-data-analysis {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 323px;
  height: 235px;
  margin: 331px 0 0 15px;
  color: #111010;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 29.045px;
  text-align: left;
  text-overflow: initial;
  z-index: 7;
  overflow: hidden;
}
.skills {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 43px;
  top: 21px;
  left: 9px;
  color: #111010;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 38.727px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.programming-languages {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 281px;
  height: 194px;
  top: 53px;
  left: 9px;
  color: #0f0f0f;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 38.727px;
  text-align: left;
  z-index: 6;
}
.rectangle-3 {
  position: absolute;
  width: 525px;
  height: 226px;
  top: 0;
  left: 637px;
  background: #e26d2c;
  z-index: 8;
}
.data-analysis-project {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 460px;
  height: 168px;
  top: 58px;
  left: 28px;
  color: #0b0b0b;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 24.205px;
  text-align: left;
  z-index: 9;
}
.rectangle-4 {
  position: absolute;
  width: 525px;
  height: 196px;
  top: 252px;
  left: 637px;
  background: url(./assets/images/4d023364-5e0f-4a19-964b-19ef67586de3.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
}
.web-management-project {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 460px;
  height: 139px;
  top: 33px;
  left: 28px;
  color: #090909;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 24.205px;
  text-align: left;
  text-overflow: initial;
  z-index: 11;
  overflow: hidden;
}
.rectangle-5 {
  position: absolute;
  width: 525px;
  height: 175px;
  top: 478px;
  left: 637px;
  background: #da621e;
  z-index: 12;
}
.project-database-business {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 477px;
  height: 143px;
  top: 21px;
  left: 24px;
  color: #0c0c0c;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 24.205px;
  text-align: left;
  text-overflow: initial;
  z-index: 13;
  overflow: hidden;
}
